BACKEND_FUNDER_PRIVATE_KEY=
BACKEND_RPC_URL=https://rpc.gnosischain.com
BACKEND_CIRCLES_RPC_URL=https://rpc.aboutcircles.com
FUNDING_AMOUNT_XDAI=0.01
FUNDING_LEDGER_PATH=.data/funding-ledger.json
PORT=8787
